* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Make footer always at bottom of our screen */
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.icon-times {
    cursor: pointer;
    font-size: 20px;
    text-align: right;
}

body>main {
    flex: 1 1 auto;
}

:root {
    --primary-color: #dc1b1b;
}


/* Override link style */

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
    opacity: 0.8;
}

a>i {
    transition: all 0.25s;
}

a:hover>i {
    transform: rotate(90deg);
}


/* Add underline for all h1 */

h1.with-underline {
    position: relative;
    margin-bottom: 3rem;
}

h1.with-underline::after {
    content: "";
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    right: 0;
    width: 5rem;
    height: 0.25rem;
    margin: 0 auto;
    border-radius: 0.25rem;
    background-color: #444;
}


/* Reset ul style */

ul {
    list-style-type: none;
}

::placeholder {
    font-style: italic;
}

.nav .nav__logo {
    height: 40px;
    width: auto;
}

.nav .nav__link {
    text-decoration: none;
}

.nav .nav__link:hover {
    text-decoration: underline;
}

.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.carousel-item.slide-one {
    background-image: url(https://www.bmw.vn/content/dam/bmw/common/home/teaser/bmw-7series-sedan-gklplus-teaser-desktop.jpg.asset.1547636126503.jpg);
}

.carousel-item.slide-two {
    background-image: url(https://www.bmw.ca/content/dam/bmw/common/all-models/7-series/sedan/2019/inspire/bmw-7series-sedan-inspire-cp-hybrid-desktop.jpg);
}

.carousel-item.slide-three {
    background-image: url(https://pbs.twimg.com/media/EjeEufnWsAABk92.jpg);
}

.carousel-indicators [data-bs-target] {
    width: 20px;
    height: 1px;
}